<!DOCTYPE html>
<head>
  <link rel='stylesheet' type='text/css' href='styles.css' />
    <title> Trying out express Handlebars</title>
</head>
<body>
    <header> <h1>This is the header</h1></header>
    <main>
    {{{body}}}
    </main>

    <footer>
      <h1> This is the Footer</h1>
    </footer>

</body>
</html>