<div class='formContainer'>
    <form action='/signUp' method="POST">
<p>Name <input type='text' name='name' required class='formInput' /> </p>
<p> Complexion <input type='text' name='complexion' required class='formInput' /> </p>
<p> Marital Status <input type='text' name='isMarried' required class='formInput' /> </p>
<button type='submit'> Submit</button>
    </form>
</div>