body{
    display:flex;
    flex-direction:column;
    height:100vh;
    width:100vw;
    margin:0
}
.container{
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content: space-around;
}
.chat_head{
    background-color: rgb(91, 38, 141);
    color:white;
    font-size: 25px;
    text-align: center;
    padding:15px;
}
.chat_window{
    flex-grow:1;
    overflow-y:auto;
    background-color: rgb(245, 241, 248);
}
.message_form{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(91, 38, 141);
}
.input{
    height:30px;
    border-radius: 5px;
    text-align:center;
    border:1px solid #eee;
    width:300px;
    margin: 7px;

}
.send_button{
    height:35px;
    border-radius: 10px;
    width:200px;
    background-color:rgb(82, 196, 82);
    color:white;
    font-size:20px;
    border:0.5px solid rgb(231, 222, 222);
}

.chat_text{
margin-left:8px;
font-size:12px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name{
    color:blue
}
.typing_message{
    font-style:italic;
    font-size:12px;
    margin-left:9px;

    
}
